[Desktop Entry]
Name=pyOBD
Icon=/home/pi/pyobd-pi/pyobd.gif
Exec=/home/pi/pyobd-pi/pyobd/obd.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
